
  <div class="flued-container">
    <div class="side-left">
      <img width="40" alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
    <span>Welcome</span>
    <div class="side-right">
      <a class="nav-link" [routerLink]="['/home']" routerLinkActive="">
        <i class="material-icons pulse-grow-on-hover">home</i>
        <span>Home</span>
      </a>
      <a class="nav-link" [routerLink]="['/blog']" routerLinkActive="">
        <i class="material-icons pulse-grow-on-hover">face</i>
        <span>blog</span>
      </a>
      <a class="nav-link" [routerLink]="['/services']" routerLinkActive="">
        <i class="material-icons pulse-grow-on-hover">lock</i>
        <span>Services</span>
      </a>
      <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="">
        <i class="material-icons pulse-grow-on-hover">contacts</i>
        <span>contacts</span>
      </a>
    </div>
  </div>
</div>
